<div *ngIf="list != null">
    <h1>{{list.name}}</h1>
    <p>{{list.date}}</p>
    <p>Created by {{list.creatorName}}</p>
    <div class="dropdown">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            Add an item
        </button>
        <div class="collapse" id="collapseExample">
            <form id="new-item-form" (submit)="onNewItemSubmit()" [formGroup]="newItemForm">
                <div class="form-group">
                    <label>Item name</label>
                    <input type="text" class="form-control" formControlName="name">
                </div>
                <div class="form-group">
                    <label>Quantity</label>
                    <input type="number" class="form-control" formControlName="quantity">
                </div>
                <div class="form-group">
                    <label>Price (optional)</label>
                    <input type="number" class="form-control" formControlName="price">
                </div>
                <div class="form-group">
                    <label>Category (optional)</label>
                    <input type="text" class="form-control" formControlName="category">
                </div>
                <div class="form-group">
                    <label>Comment (optional)</label>
                    <input type="text" class="form-control" formControlName="comment">
                </div>
                <input data-bs-toggle="collapse" data-bs-target="#collapseExample" type="submit" class="btn btn-primary"
                    value="Add">
            </form>
        </div>
    </div>
    <h2>Items</h2>
    <ul class="list-group" *ngFor="let item of list.items">
        <li id={{item._id}} (click)="setSelectedListItem(item._id)" class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                Item: {{item.name}}
            </div>
            <div class="ms-2 me-auto">
                Quantity: {{item.quantity}}
            </div>
            <div *ngIf="item.price" class="ms-2 me-auto">
                Price per item: {{item.price}}
            </div>
            <div *ngIf="item.category" class="ms-2 me-auto">
                Category: {{item.category}}
            </div>
            <div *ngIf="item.comment" class="ms-2 me-auto">
                Comment: {{item.comment}}
            </div>
        </li>
    </ul>
    <button>Edit</button>
    <button (click)="deleteSelectedItem()">Delete</button>
</div>