<h1>{{groupData?.name}}</h1>
<div class="row">
    <small>Created by {{groupData?.creatorName}}</small>
</div>
<br>
<p><a class="link-primary link-opacity-10-hover" [routerLink]="['/lists', this.groupId]">Group Lists</a></p>
<p><a class="link-primary link-opacity-10-hover" [routerLink]="['/stats', this.groupId]">Group Stats</a></p>
<div class="btn-group">
    <button class="border-black btn btn-danger" (click)="deleteGroup()">Delete Group</button>
    <button class="border-black btn btn-secondary" (click)="leaveGroup()">Leave Group</button>
</div>