<h2>Shopping lists of this group</h2>
<ul class="list-group" *ngFor="let item of lists">
    <li id={{item.id}} (click)="setSelectedListItem(item.id)"
        class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            {{item.name}}: {{item.date}}
        </div>
        <div class="ms-2 me-auto">
            Created by {{item.creatorName}}
        </div>
    </li>
</ul>

<div class="btn-group">
    <button type="button" (click)="deleteSelectedList()">Delete</button>
    <button type="button" data-bs-toggle="collapse" data-bs-target="#collapse-new-list" aria-expanded="false"
        aria-controls="collapse-new-list">
        Create
    </button>
    <button type="button" (click)="showSelectedList()">Show</button>
</div>

<div class="dropdown">
    <div class="collapse" id="collapse-new-list">
        <form id="new-list-form" (submit)="onNewListSubmission()" [formGroup]="newListForm">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="form-group">
                <label>Date</label>
                <input type="text" class="form-control" formControlName="date">
            </div>
            <input data-bs-toggle="collapse" data-bs-target="#collapse-new-list" type="submit" class="btn btn-primary"
                value="Create">
        </form>
    </div>
</div>