<h2>Shopping lists of this group</h2>
<ul class="list-group" *ngFor="let item of lists">
    <li id={{item.id}} (click)="setSelectedListItem(item.id)" class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            {{item.name}}: {{item.date}}
        </div>
        <div class="ms-2 me-auto">
            Created by {{item.creatorName}}
        </div>
    </li>
</ul>

<div class="btn-group">
    <button type="button" (click)="deleteSelectedList()">Delete</button>
    <button type="button" (click)="showSelectedList()">Show</button>
</div>