<h1>Amount of Purchases per Cateogry</h1>
<div class="chart-container">
    <canvas id="purchases-by-category">{{ purchaseCategoryDoughnutChart }}</canvas>
</div>
<h1>Total Spending per Cateogry</h1>
<div class="chart-container">
    <canvas id="spending-by-category">{{ spendingCategoryPieChart }}</canvas>
</div>
<h1>Shopping Lists per Weekday</h1>
<div class="chart-container">
    <canvas id="lists-per-day">{{ spendingCategoryPieChart }}</canvas>
</div>
<h1>Most purchased product</h1>
<p id="most-purchased-product"></p>

<h1>Average Cost of Shopping List</h1>
<p id="avg-cost-list"></p>