<h2>Your Groups</h2>
<p *ngIf="!this.groups">Not a member of any group yet</p>

<div class="list-group" *ngFor="let item of this.groups">
    <a [routerLink]="['/group', item.id]" class="list-group-item list-group-item-action">
        <div class="ms-2 me-auto">
            {{item.name}}
        </div>
    </a>
</div>
<br>

<div class="row">
    <div class="btn-group">
        <button class="border-black btn btn-secondary" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse-new-group" aria-expanded="false" aria-controls="collapse-new-group">
            Create a new group
        </button>
        <button class="border-black btn btn-secondary" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse-search-group" aria-expanded="false" aria-controls="collapse-search-group">
            Search for a group
        </button>
    </div>
</div>

<div class="dropdown">
    <div class="collapse" id="collapse-new-group">
        <form id="new-group-form" (submit)="onNewGroupSubmission()" [formGroup]="newGroupForm">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <input data-bs-toggle="collapse" data-bs-target="#collapse-new-group" type="submit" class="btn btn-primary"
                value="Create">
        </form>
    </div>
</div>

<div class="dropdown">
    <div class="collapse" id="collapse-search-group">
        <form id="search-group-form" (submit)="onSearchGroupSubmission()" [formGroup]="newGroupForm">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <input data-bs-toggle="collapse" data-bs-target="#collapse-search-group" type="submit"
                class="btn btn-primary" value="Search">
        </form>
    </div>
</div>

<div class="modal fade" id="joinModal" tabindex="-1" aria-labelledby="joinModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="joinModalLabel">Join Group {{this.clickedName}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="join-group-form" (submit)="onJoinGroupSubmission()" [formGroup]="newGroupForm">
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" formControlName="password">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Join</button>                    
                </div>
            </form>

        </div>
    </div>
</div>


<div *ngIf="this.searchedGroups.length > 0">
    <h2>Search matches</h2>
    <div class="list-group" *ngFor="let item of this.searchedGroups">
        <div class="list-group-item list-group-item-action">
            <div class="fw-bold">{{item.name}}</div>

            <button (click)="setClickedGroupInfo(item.id, item.name)" type="button" class="btn btn-primary"
                data-bs-toggle="modal" data-bs-target="#joinModal">
                Join
            </button>

        </div>
    </div>

    <div *ngIf="!this.lastBatch">
        <button (click)="onSearchForMoreResultsClick()" class="btn btn-primary">Show more results</button>
    </div>
</div>