<h2>Your Groups</h2>
<p *ngIf="!this.groups">Not a member of any group yet</p>

<div class="list-group" *ngFor="let item of this.groups">
    <a [routerLink]="['/group', item.id]" class="list-group-item list-group-item-action">
        <div class="ms-2 me-auto">
            {{item.name}}
        </div>
    </a>
</div>
<br>

<div class="row">
    <div class="btn-group">
        <button class="border-black btn btn-secondary" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse-new-group" aria-expanded="false" aria-controls="collapse-new-group">
            Create a new group
        </button>
        <button class="border-black btn btn-secondary" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse-search-group" aria-expanded="false" aria-controls="collapse-search-group">
            Search for a group
        </button>
    </div>
</div>

<div class="dropdown">
    <div class="collapse" id="collapse-new-group">
        <form id="new-group-form" (submit)="onNewGroupSubmission()" [formGroup]="newGroupForm">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <input data-bs-toggle="collapse" data-bs-target="#collapse-new-group" type="submit" class="btn btn-primary"
                value="Create">
        </form>
    </div>
</div>

<div class="dropdown">
    <div class="collapse" id="collapse-search-group">
        <form id="search-group-form" (submit)="onSearchGroupSubmission()" [formGroup]="newGroupForm">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <input data-bs-toggle="collapse" data-bs-target="#collapse-search-group" type="submit" class="btn btn-primary" value="Search">
        </form>
    </div>
</div>

<div *ngIf="this.searchedGroups.length > 0">
    <h2>Search matches</h2>
    <div class="list-group" *ngFor="let item of this.searchedGroups">
          <div class="list-group-item list-group-item-action">
            <div class="fw-bold">{{item.name}}</div>
          </div>
      </div>
</div>

<!--
<div class="dropdown">
    <div class="collapse" id="collapse-join-group">
        <form id="join-group-form" (submit)="onJoinGroupSubmission()" [formGroup]="newGroupForm">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <input data-bs-toggle="collapse" data-bs-target="#collapse-join-group" type="submit" class="btn btn-primary"
                value="Join">
        </form>
    </div>
</div>
-->