<h2>Your Groups</h2>
<p *ngIf="!this.groups">Not a member of any group yet</p>

<div class="list-group" *ngFor="let item of this.groups">
    <a [routerLink]="['/group', item.id]" class="list-group-item list-group-item-action">
        <div class="ms-2 me-auto">
            {{item.name}}
        </div>
    </a>
</div>
<br>

<div class="btn-group">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal">
        Create a New Group
    </button>
</div>


<div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="createModalLabel">Create a Group</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="new-group-form" (submit)="onNewGroupSubmission()" [formGroup]="newGroupForm">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" formControlName="password">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<h3>Search for Groups</h3>
<form id="search-group-form" (submit)="onSearchGroupSubmission()" [formGroup]="newGroupForm">
    <div class="form-group">
        <div class="row">
            <input placeholder="Type group name" type="text" class="col form-control" formControlName="name">
            <input data-bs-toggle="collapse" data-bs-target="#collapse-search-group" type="submit"
                class="col-2 btn btn-primary" value="Search">
        </div>
    </div>
</form>

<div class="modal fade" id="joinModal" tabindex="-1" aria-labelledby="joinModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="joinModalLabel">Join Group {{this.clickedName}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="join-group-form" (submit)="onJoinGroupSubmission()" [formGroup]="newGroupForm">
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" formControlName="password">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Join</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div *ngIf="this.searchedGroups.length > 0">
    <p>The matches exclude the groups you are already a member of.</p>
    <div class="list-group" *ngFor="let item of this.searchedGroups">
        <div class="list-group-item list-group-item-action">
            <div class="fw-bold">{{item.name}}</div>

            <button (click)="setClickedGroupInfo(item.id, item.name)" type="button" class="btn btn-primary"
                data-bs-toggle="modal" data-bs-target="#joinModal">
                Join
            </button>

        </div>
    </div>

    <div *ngIf="!this.lastBatch" class="btn-group">
        <button (click)="loadNextResults()" class="btn btn-primary">Show the next 50 results</button>
    </div>
    <button *ngIf="this.batchNum > 0" (click)="loadPreviousResults()" class="btn btn-secondary">Show the previous 50
        results</button>
    <div *ngIf="this.lastBatch">
        <p>No more results to show</p>
    </div>
</div>